Repository 2024-ITEC0401/frontend, pull requests merged in 2024-10, with the labels that each got.

#23 MSW 설정 완료
  package-lock.json
  package.json
  public/mockServiceWorker.js
  public/vite.svg
  src/__mocks__/.gitkeep
  src/__mocks__/Browser.ts
  src/main.tsx
Labels: 📦 Environment, ✨ Feature

#25 Dropdown 컴포넌트 구현 및 스토리북 작성
  .vscode/settings.json
  src/components/forms/.gitkeep
  src/components/forms/Color/index.story.tsx
  src/components/forms/Color/index.style.ts
  src/components/forms/Color/index.tsx
  src/components/forms/ColorPalette/index.story.tsx
  src/components/forms/ColorPalette/index.style.ts
  src/components/forms/ColorPalette/index.tsx
  src/components/forms/Dropdown/index.story.tsx
  src/components/forms/Dropdown/index.style.ts
  src/components/forms/Dropdown/index.tsx
Labels: 📦 Environment, ✨ Feature, 🔥 Remove, ✅ TestCode

#27 Button 컴포넌트 구현 및 스토리북 작성
  .prettierrc
  src/assets/common/GoogleLogo.png
  src/components/forms/Button/index.story.tsx
  src/components/forms/Button/index.style.ts
  src/components/forms/Button/index.tsx
  src/components/forms/Color/index.style.ts
  src/components/forms/ColorPalette/index.style.ts
  src/components/forms/Dropdown/index.style.ts
  src/styles/utils.ts
Labels: ✨ Feature, ✅ TestCode, ⭐️ Style

#28 Input 컴포넌트 구현 및 스토리북 작성
  src/components/forms/Input/index.story.tsx
  src/components/forms/Input/index.style.ts
  src/components/forms/Input/index.tsx
  src/styles/reset.tsx
Labels: ✨ Feature, ✅ TestCode, ⭐️ Style

#29 SearchBar 컴포넌트 구현 및 스토리북 작성
  src/assets/common/SearchIcon.png
  src/components/forms/SearchBar/index.story.tsx
  src/components/forms/SearchBar/index.style.ts
  src/components/forms/SearchBar/index.tsx
Labels: ✨ Feature, ✅ TestCode, ⭐️ Style

#31 HashTag 컴포넌트 구현 및 스토리북 작성
  src/components/display/.gitkeep
  src/components/display/HashTag/index.story.tsx
  src/components/display/HashTag/index.style.ts
  src/components/display/HashTag/index.tsx
  src/styles/design.json
  src/styles/global.tsx
Labels: ✨ Feature, ✅ TestCode, ⭐️ Style

#32 ProfileDropdown 컴포넌트 구현
  package-lock.json
  package.json
  src/components/navigation/.gitkeep
  src/components/navigation/ProfileDropdown/index.style.ts
  src/components/navigation/ProfileDropdown/index.tsx
Labels: ✨ Feature

#35 SectionHeader 컴포넌트 구현 및 스토리북 작성
  src/components/display/SectionHeader/index.story.tsx
  src/components/display/SectionHeader/index.style.ts
  src/components/display/SectionHeader/index.tsx
Labels: ✨ Feature, ✅ TestCode, ⭐️ Style
