Repository 2024-ITEC0401/frontend, pull requests merged in 2024-11, with the labels that each got.

#40 RecommendedCodiCard 컴포넌트 구현
  src/__mocks__/sample-codi.jpg
  src/assets/icon-heart__active.svg
  src/assets/icon-heart__inactive.svg
  src/components/display/HashTag/index.style.ts
  src/components/display/RecommendedCodiCard/index.story.tsx
  src/components/display/RecommendedCodiCard/index.style.ts
  src/components/display/RecommendedCodiCard/index.tsx
Labels: ✨ Feature, ✅ TestCode, ⭐️ Style

#36 RecommendedProductCard 컴포넌트 구현 및 스토리북 작성
  src/assets/common/Cloth.png
  src/components/display/HashTag/index.tsx
  src/components/display/RecommendedProductCard/index.story.tsx
  src/components/display/RecommendedProductCard/index.style.ts
  src/components/display/RecommendedProductCard/index.tsx
  src/components/display/SectionHeader/index.tsx
  src/components/forms/Color/index.tsx
  src/components/forms/SearchBar/index.style.ts
  src/components/typography/Text/index.story.tsx
  src/components/typography/Text/index.style.ts
  src/components/typography/Text/index.tsx
Labels: ✨ Feature, ✅ TestCode, ⭐️ Style

#43 Feature#5 Chip 컴포넌트 구현
  src/components/display/Chip/index.story.tsx
  src/components/display/Chip/index.style.ts
  src/components/display/Chip/index.tsx
Labels: ✨ Feature, ⭐️ Style

#51 StyleCard 컴포넌트 구현 완료
  src/components/display/Chip/index.story.tsx
  src/components/display/StyleCard/index.story.tsx
  src/components/display/StyleCard/index.style.ts
  src/components/display/StyleCard/index.tsx
Labels: ✨ Feature, ✅ TestCode, ⭐️ Style

#55 Feature#49 RecommendedCodiPage 구현
  .eslintrc.cjs
  .github/workflows/deploy-gcp.yml
  .github/workflows/test-unit.yml
  .storybook/preview.tsx
  @types/index.d.ts
  fileMock.js
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  src/App.tsx
  src/Routes.tsx
  src/components/display/ClothCard/index.tsx
  src/components/display/CodiCardWithHashTags/index.tsx
  src/components/display/HashTag/index.style.ts
  src/components/display/HashTag/index.test.tsx
  src/components/display/HashTag/index.tsx
  src/components/display/RecommendedCodiCard/index.tsx
  src/components/forms/Button/ArrowButton/index.style.ts
  src/components/forms/Color/index.story.tsx
  src/components/forms/Color/index.tsx
  src/components/forms/ColorPalette/index.tsx
  src/components/forms/Dropdown/index.story.tsx
  src/components/forms/Dropdown/index.tsx
  src/components/forms/FileUpload/index.style.ts
  src/components/forms/FileUpload/index.tsx
  src/components/forms/Filter/index.story.tsx
  src/components/forms/Filter/index.style.ts
  src/components/forms/Filter/index.test.tsx
  src/components/forms/Filter/index.tsx
  src/components/forms/Input/index.style.ts
  src/constants/.gitkeep
  src/constants/filterParams.ts
  src/hooks/useFilter.ts
  src/layouts/RootLayout.tsx
  src/main.tsx
  src/pages/RecommendCodiPage/index.style.ts
  src/pages/RecommendCodiPage/index.tsx
  src/styles/fonts.tsx
  src/styles/global.tsx
  src/styles/index.d.ts
  tsconfig.json
Labels: ✨ Feature

#57 내 옷장 관리 (my-closet) 페이지 구현 완료
  src/Routes.tsx
  src/components/navigation/Navbar/index.tsx
  src/layouts/RootLayout.tsx
  src/pages/myCloset/components/CategorySection.tsx
  src/pages/myCloset/components/ClothesList.tsx
  src/pages/myCloset/index.tsx
Labels: 🔧 Chore, ✨ Feature

#60 Mocking API 를 적용한 내 옷장 관리 페이지 구현
  package-lock.json
  package.json
  src/Routes.tsx
  src/__mocks__/Browser.ts
  src/pages/RecommendCodiPage/api/codi.mock.ts
  src/pages/RecommendProductPage/api/product.mock.ts
  src/pages/RecommendProductPage/index.style.ts
  src/pages/RecommendProductPage/index.tsx
  src/pages/myCloset/api/clothes.mock.ts
  src/pages/myCloset/index.tsx
Labels: 👽 API, ✨ Feature

#67 내 정보 수정 (MyPage) 페이지 구현 완료
  src/Routes.tsx
  src/__mocks__/casual.png
  src/__mocks__/minimal.png
  src/__mocks__/street.png
  src/components/display/Chip/index.style.ts
  src/components/display/Chip/index.tsx
  src/components/display/StyleCard/index.tsx
  src/components/forms/Input/index.tsx
  src/components/navigation/Navbar/index.tsx
  src/pages/myPage/index.style.ts
  src/pages/myPage/index.tsx
  src/pages/myPage/utils/ageList.ts
  src/pages/myPage/utils/colorList.ts
  src/pages/myPage/utils/skintoneList.ts
  src/pages/myPage/utils/styleList.ts
Labels: 🔧 Chore, ✨ Feature, ⭐️ Style

#75 Login 관련 API 연결 및 디자인 일부 수정
  package-lock.json
  src/app/App.tsx
  src/app/Routes.tsx
  src/app/config/axios.ts
  src/app/layouts/NavTop.tsx
  src/app/layouts/ProtectedRoute.tsx
  src/entities/tokens/hooks/useLogin.tsx
  src/entities/tokens/stores/authStore.ts
  src/pages/auth/SignInPage.tsx
  src/shared/lib/utils.ts
  yarn.lock
Labels: 👽 API, ✨ Feature

#79 Feature#78: 회원가입 페이지 구현
  src/app/Routes.tsx
  src/app/styles/fonts.ts
  src/app/styles/global.tsx
  src/entities/clothes/ui/ColorSelector.tsx
  src/features/auth/hooks/useSignUp.tsx
  src/features/home/ui/FilterCloset.tsx
  src/features/recommend/hooks/useRecommendationFilter.tsx
  src/pages/auth/SignUpPage.tsx
  src/pages/home/HomePage.tsx
  src/pages/recommend/RecommendProductPage.tsx
  src/shared/ui/button.tsx
  src/shared/ui/label.tsx
  src/shared/ui/sheet.tsx
Labels: ✨ Feature

#86 회원가입 / 이메일 중복 검사 API 연결
  .gitignore
  src/app/config/axios.ts
  src/app/constants/URI.ts
  src/features/auth/hooks/useCheckEmailValidation.tsx
  src/features/auth/hooks/useSignUp.tsx
  src/pages/auth/SignUpPage.tsx
Labels: 👽 API, ✨ Feature
